<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ve.com.abicelis.pingwidget">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_ping_widget"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <activity android:name=".HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".PingWidgetUpdateService"/>

        <receiver
            android:icon="@drawable/icon_ping_widget"
            android:label="PingWidget"
            android:name="PingWidgetProvider" >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />

        </receiver>
    </application>

</manifest>
